body{
  background-color: #ffecd3;

}
/*Header*/
nav{
  background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;

}
nav ul{
  list-style: none;
  display: inline;
}
#mainheader {
  border: #e5aa5a 2.5px solid;
  background-color: #ffcc87;
  margin: 0 auto;
  text-align: center;
  max-width: 75%;
}

/*Tabe*/
#SalmonCookiejs {
  border: #0b0bc5 3px solid;
  background-color: #ffdcad;
  max-width: 1px;
  margin: 0 auto;
}
#SalmonCookiejs td {
  border: #ffdcad 2.5px ridge;
}

#colorfulimg {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
  background-position: center;
  border: 3px solid darkgrey;
}
#creepsphoto {
  float:left;
}
p.about{
  text-align:right;
  position:absolute;;
}
